.navbar-brand {
	font-family: 'Operation Napalm',
		monospace;
	font-weight: bolder;
	font-size: 1.5rem;
}

.navbar {
	font-family: monospace;
}

.hidden {
	display: none;
}

.bg-dark {
	background-color: black !important;
}