a {
	color: #20493c;
}

a:hover {
	color: #20493c;
	text-decoration: underline;
}

a:hover:disabled, a:hover + .disabled {
	color: #20493c;
	text-decoration: line-through;
}

.navbar-brand {
	font-family: 'Operation Napalm',
		monospace;
	font-weight: bolder;
	font-size: 1.5rem;
}

.navbar {
	font-family: monospace;
}

.hidden {
	display: none;
}

.bg-dark, .bg-black {
	background-color: black !important;
}

.bg-dark-green {
	background-color: #20493c !important;
	color: #fff !important;
}

.bg-light-tan {
	background-color: #f9d3c1 !important;
	color: #20493c !important;
}

.table-hover tr:hover {
	background-color: rgb(192 192 192) !important;
}


hr.vertical {
	width: 0;
	height: 100%;
	/* or height in PX */
}

.btn-outline-dark-green {
	color: #20493c;
	background-color: transparent;
	background-image: none;
	border-color: #20493c;
}

.btn-outline-dark-green:hover {
	color: #fff;
	background-color: #20493c;
	border-color: #20493c;
}

.btn-outline-dark-green:focus, .btn-outline-dark-green.focus {
	box-shadow: 0 0 0 0.2rem rgb(32 73 60 / 0.5);
}

.btn-outline-dark-green.disabled, .btn-outline-dark-green:disabled {
	color: #797070;
	background-color: transparent;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn-dark-green {
	color: #fff;
	background-color: #20493c;
	border-color: #20493c;
}

.btn-dark-green:hover {
	color: #fff;
	background-color: #1a3d31;
	border-color: #1a3d31;
}

.btn-dark-green:focus, .btn-dark-green.focus {
	box-shadow: 0 0 0 0.2rem rgb(32 73 60 / 0.5);
}

.btn-dark-green.disabled, .btn-dark-green:disabled {
	color: #fff;
	background-color: #20493c;
	border-color: #20493c;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn-light-tan {
	color: #20493c !important;
	background-color: #f9d3c1;
	border-color: #f9d3c1;
}

.btn-light-tan:hover {
	color: #f9d3c1 !important;
	background-color: #20493c;
	border-color: #f9d3c1;
}

.btn-light-tan:focus, .btn-light-tan.focus {
	box-shadow: 0 0 0 0.2rem rgb(249 211 193 / 0.5);
}

.btn-light-tan.disabled, .btn-light-tan:disabled {
	color: #20493c !important;
	background-color: #f9d3c1;
	border-color: #f9d3c1;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn-outline-light-tan {
	color: #f9d3c1;
	background-color: transparent;
	background-image: none;
	border-color: #f9d3c1;
}

.btn-outline-light-tan:hover {
	color: #20493c;
	background-color: #f9d3c1;
	border-color: #f9d3c1;
}

.btn-outline-light-tan:focus, .btn-outline-light-tan.focus {
	box-shadow: 0 0 0 0.2rem rgb(249 211 193 / 0.5);
}

.btn-outline-light-tan.disabled, .btn-outline-light-tan:disabled {
	color: #797070;
	background-color: transparent;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.list-group-item:hover {
	background-color: #20493c !important;
	color: #f9d3c1;
	border-color: #20493c !important;
}

.list-group-item {
	background-color: transparent;
	color: #f9d3c1;
}

li.list-group:hover {
	background-color: #20493c;
	color: #f9d3c1;
}

li.list-group-item > a:hover {
	color: #f9d3c1;
}

li.list-group-item > a {
	color: #f9d3c1;
}
